---
layout: page
background: '/img/bg-postp.png'
title: Physical concepts
---

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto">
      <div class="page-heading"style="text-align:center">

{% for post in site.physical %}



<article class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <img src="{{ post.thumbnail }}" alt="" class="img-fluid" class="img-responsive img-centered" alt="">
    <h2 class="post-title">{{ post.title }}</h2>
    {% if post.subtitle %}
    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
    {% else %}
    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
  </a>

</article>

        <br>
       <hr>

       {% endfor %}

       <!-- Pager -->
       <div class="clearfix">
         <a class="btn btn-primary float-right" href="{{"/" | relative_url }}">Digital work &rarr;</a>
       </div>

    </div>
  </div>
</div>
